<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="$(find simple_arm)/config/initial_positions.yaml" />

    <!-- Import panda urdf file -->
    <xacro:include filename="../urdf/panda.urdf" />
    <xacro:include filename="panda.ros2_control.xacro" />
    <xacro:include filename="panda_hand.ros2_control.xacro" />

    <xacro:panda_ros2_control name="PandaGazeboControl" initial_positions_file="$(arg initial_positions_file)"/>
    <xacro:panda_hand_ros2_control name="PandaHandGazeboControl"/>

    <link name="world"/>

    <joint name="panda_to_world" type="fixed">
        <parent link="world"/>
        <child link="panda_link0"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <dynamics damping="1.0"/>
    </joint>
    <!-- <xacro:panda_control arm_id="panda"/> -->
    <gazebo>
    <plugin filename="ignition_ros2_control-system" name="ignition_ros2_control::IgnitionROS2ControlPlugin">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find simple_arm)/config/panda_ros_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gravity>0 0 -9.8</gravity>

</robot>
